<launch>
    
    <node pkg="slplanner_plus" type="test_slplanner_demo_by_corridor_with_yaw" name="test_slplanner_demo_by_corridor_with_yaw_node" output="screen" cwd="node">
        
        <param name="benchmark" type="string" value="$(find slplanner_plus)/instances/benchmark/" />

        <param name="mapname" type="string" value="corridor" />

        <param name="parameterpath" type="string" value="$(find slplanner_plus)/config/parameter_corridor_with_yaw.yaml" />

        <param name="solutionspath" type="string" value="$(find slplanner_plus)/instances/result/" />

    </node>

</launch>